.f1 {
    background-color: white;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.logo {
    margin-top: 15%;
    margin-left: 40%;
}
.form {
    margin-top: auto;
    margin-left: 41.75%;
}